/* variantï¼š call it by: var(name) */
:root {
  --main-color: #fda172; /* or #FBB50E */
}

body {
  margin-top: 40px;
  z-index: 99;
}
.app_left {
  padding: 0 10px 30px 10px;
}
.app_right {
  padding: 0 10px 50px 15px;
}
.header {
}
.main {
  margin: 30px 0;
}

.footer {
}
.container_shadow {
  border-radius: 7px;
  box-shadow: 0 2px 92px 0 rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 2px 92px 0 rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 2px 92px 0 rgba(0, 0, 0, 0.13);
  overflow-x: hidden;
  background-color: white;
}
